.orderBox header {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.orderBox header h3 {
  font-size: 1.5rem;
}

.orderBox header div {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.orderBox div input,
.orderBox div select {
  background: var(--input);
  padding: 5px 10px;
}

.statusBox {
  display: flex;
  gap: 2rem;
}

.statusBox legend {
  cursor: pointer;
}

.statusBox legend sub {
  display: block;
  height: 2px;
  background: skyblue;
  transition: 0.3s ease;
}

.orders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem 1.5rem;
}

.order {
  padding: 10px;
  position: relative;
  border-radius: 10px;
  border: 1px solid gray;
  color: rgb(59, 59, 59);
}

.order legend {
  color: rgb(116, 116, 116);
  font-size: 0.9rem;
}

.order .tag {
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  padding: 6px;
  border-radius: 50%;
  color: white;
}

.order article span {
  font-family: 'Poppins', sans-serif;
}