.topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  padding-top: 2vh;
  padding-bottom: 2vh;
  background: #AB7DF3;
  /* background: #7F61F5; */
}

.cover{
  object-fit: cover;
  object-position: top;
  filter: brightness(50%);
  z-index: 10;
}


.topNav nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  z-index: 100;
}

.topNav nav a {
  color: white;
}

.menuTag {
  display: none;
}

.panel{
  display: none;
  width: 300px;
  height: 90vh;
  padding: 5vh 20px;
  z-index: 100;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@media all and (max-width:550px) {
  .topNav {
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }

  .topNav nav {
    position: fixed;
    top: 0;
    right: -170px;
    flex-direction: column;
    gap: 0.5rem;
    background: white;
    width: 150px;
    padding: 10px 10px;
    transition: 0.3s ease;
  }

  .topNav nav.change {
    right: 0;
  }

  .topNav nav a {
    color: black;
  }

  .menuTag {
    display: flex;
    position: absolute;
    background: salmon;
    color: white;
    width: 30px;
    height: 30px;
    top: 0;
    right: 100%;
  }
}