@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: "Quicksand", sans-serif; */
  /* font-family: "Wix Madefor Display", sans-serif; */
  /* font-family: "Outfit", sans-serif; */
  scroll-behavior: smooth;
}

:root {
  --theme: white;
  --secondary: orange;
  --pass: rgb(23, 175, 99);
  --input: #E9E9ED;
}

body::-webkit-scrollbar {
  width: 8px;
  background: black;
  /* border-radius: 40px; */
}

body::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 40px;
}

.cash,
input,
textarea,
select {
  font-family: 'Poppins', sans-serif;
}

.big {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

.cut,
.cut2,
.cut3,
.cut6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cut2 {
  -webkit-line-clamp: 2;
}

.cut3 {
  -webkit-line-clamp: 3;
}

.cut4 {
  -webkit-line-clamp: 4;
}

#frame {
  width: 90%;
  min-height: 90vh;
  background: #F7F7FA;
  padding: 5vh 5%;
  display: flex;
  flex-direction: column;
  /* display: grid; */
  gap: 4vh;
  /* align-items: flex-start; */
  grid-template-columns: 1fr;
}

#box {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}




@media all and (max-width:900px) {
  #box {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }
}

.timerBox {
  z-index: 10000;
  position: fixed;
  bottom: 10px;
  left: 10px;
  background: tomato;
  color: white;
  display: flex;
  gap: 0.5rem;
  padding: 5px 9px;
  border-radius: 40px;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.timerBox legend {
  display: flex;
  gap: 0.2rem;
}

.timerBox span {
  font-family: 'Poppins', sans-serif;
}

@keyframes toggleHeight {
  0% {
    height: 10px;
  }

  50% {
    height: 15px;
  }

  100% {
    height: 20px;
  }
}

#border{
  border: 1px solid var(--theme);
  padding: 5px;
  border-radius: 5px;
}

.miniLoader {
  display: flex;
  gap: 0.5rem;
  min-height: 20px;
}

.miniLoader sub {
  display: block;
  width: 10px;
  height: 20px;
  border-radius: 40px;
  background: white;
  animation: toggleHeight 0.5s infinite alternate ease-in-out;
}

.miniLoader sub:nth-child(2) {
  animation-delay: 0.5s;
}

.miniLoader sub:nth-child(3) {
  animation-delay: 1s;
}