.registerBox {
  display: grid;
  gap: 2rem;
}

.formBox {
  display: grid;
  gap: 1.5rem;
  padding-bottom: 3vh;
}

.formBox h1 {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.formBox h1 sub {
  display: block;
  height: 4px;
  background: black;
  width: 50px;
}

.formBox form {
  display: grid;
  gap: 1rem;
}

.formBox .double {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.formBox p {
  display: grid;
  gap: 0.5rem;
}

.formBox p input,
.formBox p select {
  background: var(--input);
  padding: 8px;
}

.contactRow legend,
.otpRow legend {
  display: grid;
  overflow: hidden;
  gap: 1rem;
}

.contactRow legend {
  grid-template-columns: 100px 2fr 200px;
  grid-template-columns: 100px 1fr;
}

.otpRow legend {
  grid-template-columns: 1fr 200px;
}


.contactRow legend sub,
.otpRow legend sub {
  background: #7F61F5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.formBox hr {
  width: 100%;
  border-top: 3px dotted gray;
}

.statBox{
  background: whitesmoke;
  width: max-content;
  padding: 20px;
  display: grid;
  gap: 0.2rem;
}
.statBox legend{
  display: grid;
  gap: 1rem;
  align-items: center;
  grid-template-columns: 1fr 10px;
}
.statBox span{
  font-size: 0.9rem;
}
.statBox legend sub{
  display: block;
  background: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;

}

.single legend{
  display: grid;
  gap: 1rem;
  grid-template-columns: 100px 1fr;
}


.feeBox {
  background: salmon;
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 20px;
  /* border-radius: 10px; */
}

.feeBox span {
  font-size: 1.1rem;
}


.feeBox input {
  width: 150px;
  padding: 10px;
  font-size: 1.1rem;
}

.feeBox input::-webkit-inner-spin-button {
  display: none;
}

.formBox button {
  padding: 10px;
  display: flex;
  justify-content: center;
  background: var(--pass);
  color: white;
  cursor: pointer;
}


@media all and (max-width:750px) {
  .formBox .double{
    grid-template-columns: 1fr;
  }
}

@media all and (max-width:650px) {
  .contactRow legend{
    grid-template-columns: 2fr 7fr;
  }
  .contactRow legend sub, .otpRow legend sub{
    padding: 10px;
  }
  .otpRow legend{
    grid-template-columns: 1fr;
  }
}